/* Açıklama Satırı */

body{
    padding: 0;
    margin: 0;
}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.left-bar {
    width: 200px;
    float: left;
}
.content {
    width: 800px;
    float: left;
}
.clear {
    clear: both;
}
.bg-gray {
    background-color: grey;
}
.bg-aqua {
    background-color: aqua;
}
.bg-yellow {
    background-color: yellow;
}
h1 {
    color: purple;
}
p{
    color: orange;
    font-size: 24px;
}

.text-red {
    color: red;
}
.text-blue {
    color: blue;
}
.text-green {
    color: green;
}
.fs-sm {
    font-size: 15px;
}
.fs-md {
    font-size: 25px;
}
.fs-lg {
    font-size: 35px;
}

#first-article {
    color: hotpink;
    font-size: 25px;
    text-transform: uppercase;
}